.travel-main-div{
    
    border: 1px solid #00aaff;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
    
}
.travel-main-div img{
    
    width: 92.5%;
    
    
}
.travel-main-fiv hr[

width:230px;

]
.travel-main-div h5, .travel-main-div p{
    
    margin-left: 20px;
    
    
}